h1
{
  background-color: #e3e3e3;
  position: fixed;
}
body{
  background: pink;
}
.clearfix{
  position: fixed;
}
a{
  text-decoration: none;
}
header{
  background-color: yellow;
  position: fixed;
  z-index: 1;

}

  nav ul li{

    font-style: italic;
    display: inline;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Lemonada', cursive;
  }

   .image2{
     height: 165px;
     width:300px;
     margin-top: 0px;
   }
   .image3{
     height: 165px;
     width:300px;
     margin-top: 0px;
   }
   .image4{
     height: 165px;
     width:300px;
     margin-top: 0px;
   }
   .image1{
     height: 165px;
     width:200px;
      margin-top: 0px;
   }
   .ss{
     background-color: #e3e3e3;
    margin-top: 250px;
    margin-left: 0px;
    margin-right: 0px;

   }
   h2{
     font-family: 'Roboto', sans-serif;
     font-family: 'Lemonada', cursive;
     text-align: justify;;
   }
   h4{
     text-align: justify;
     margin-left:100px;
     margin: auto;
     margin-top: 0px;
     font-family: 'Roboto', sans-serif;
     font-family: 'Lemonada', cursive;

   }
   .imagepre{
     margin-top: 0px;
   }
   .content {
     margin-top: 100px;

   }
#last{
  background-color: yellow;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
  font-family: 'Lemonada', cursive;

}
